In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly

In [2]:
movies = pd.read_csv("cleanedmovies.csv")
movies.head()
#directorcount = movies['director'].value_counts()
#directorcount

,genre,production_company,director,budget,id,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,profit
0,Action,Ingenious Film Partners,James Cameron,237000000,19995,"In the 22nd century, a paraplegic Marine is di...",150.437577,12/10/2009,2787965087,162.0,Released,Enter the World of Pandora.,Avatar,7.2,11800,2550965087
1,Adventure,Walt Disney Pictures,Gore Verbinski,300000000,285,"Captain Barbossa, long believed to be dead, ha...",139.082615,5/19/2007,961000000,169.0,Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,661000000
2,Action,Columbia Pictures,Sam Mendes,245000000,206647,A cryptic message from Bond’s past sends him o...,107.376788,10/26/2015,880674609,148.0,Released,A Plan No One Escapes,Spectre,6.3,4466,635674609
3,Action,Legendary Pictures,Christopher Nolan,250000000,49026,Following the death of District Attorney Harve...,112.312950,7/16/2012,1084939099,165.0,Released,The Legend Ends,The Dark Knight Rises,7.6,9106,834939099
4,Action,Walt Disney Pictures,Andrew Stanton,260000000,49529,"John Carter is a war-weary, former military ca...",43.926995,3/7/2012,284139100,132.0,Released,"Lost in our world, found in another.",John Carter,6.1,2124,24139100

In [3]:
director = movies.groupby("director", as_index = False)
netprofit = director["profit"].sum()
#avgprofit = sumprofit["profit"] / directorcount
netprofit = netprofit.sort_values('profit',ascending = False)
#avgprofit = avgprofit.dropna
#avgprofit = pd.DataFrame(avgprofit)
#avgprofit = avgprofit.rename(columns = {0:'avgprofit',})
topten = netprofit.nlargest(10,["profit"])

In [4]:
data = px.data.gapminder()

#data_director = data[data.director == 'director']
fig = px.bar(topten, x='director', y='profit',
             hover_data=['profit'], color='profit',
             labels={'profit':'Net Profit'}, height=400)
fig

plotly.offline.plot(fig, filename='director.html')

'director.html'

In [5]:
director = movies.groupby("production_company", as_index = False)
netprofit = director["profit"].sum()
netprofit = netprofit.sort_values('profit',ascending = False)
netprofit
topten = netprofit.nlargest(10,["profit"])

In [6]:
data = px.data.gapminder()

#data_director = data[data.director == 'director']
fig = px.bar(topten, x='production_company', y='profit',
             hover_data=['profit'], color='profit',
             labels={'profit':'Net Profit'}, height=500)
fig

plotly.offline.plot(fig, filename='production_company.html')

'production_company.html'

In [7]:
director = movies.groupby("genre", as_index = False)
netprofit = director["profit"].sum()
netprofit = netprofit.sort_values('profit',ascending = False)
netprofit
data = px.data.gapminder()

#data_director = data[data.director == 'director']
fig = px.bar(netprofit, x='genre', y='profit',
             hover_data=['profit'], color='profit',
             labels={'profit':'Net Profit'}, height=500)
fig

plotly.offline.plot(fig, filename='genre.html')

'genre.html'